.dark-theme .navbar-toggler {
 
  filter: brightness(0) invert(1);

}

@media screen and (max-width: 1400px)  {
    .wrap-checker {
     width: 100%;
padding-top: 10px;
border-top: 1px solid var(--border-color);

    }
     .wrap-checker .lang-toggle {
        margin-left: auto;
        display: contents;
        
     }
     .wrap-checker .notifi{
        margin-left: auto;
        
     }
}

@media screen and (max-width: 992px) and (min-width: 630px) {

.navbar {  margin-left: auto; }
}
/* menu */
@media (max-width: 991.98px) {
    .responsive-menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 260px;
      height: 100%;
      background: var(--card-color);
      flex-direction: column;
      padding: 1.5rem;
      box-shadow: -2px 0 10px rgba(0,0,0,0.15);
      transition: right 0.3s ease-in-out;
      z-index: 1050;
    }

    .responsive-menu.active {
      right: 0;
    }

    .responsive-menu ul {
      padding-left: 0;
      margin: 0;
      list-style: none;
      width: 100%;
    }

    .responsive-menu ul li {
      padding: 12px 0;
      border-bottom: 1px solid #eee;
    }

    .responsive-menu ul li:last-child {
      border-bottom: none;
    }
    .q-section .q-box{
      height: auto;
      overflow: hidden;
    }
    .q-section .q-box a{
     flex: 0 0 35%;
    }
}



@media (max-width: 1200px) {
 #qmCarousel .carousel-inner {
    padding: 0 2rem;
  }
  #qmCarousel .carousel-caption.slider-over {
    max-width: 100%;
    padding: 1rem;
    left: 0;
    right: 0;
    bottom: 1rem;
    text-align: left;
    border-top-left-radius: 0%;
  
  }
}

@media (max-width: 991.98px) {
    #qmCarousel  .carousel-inner {
    padding: 0 1rem;

  }
  .responsive-menu ul li {
    padding: 12px 0;
    border-bottom: 1px solid var(--border-color);
  }

  #qmCarousel  .carousel-inner .carousel-item {
    min-width: 280px;
    flex: 0 0 auto;
    margin-right: 1rem;
  }
}

@media (max-width: 576px) {
    #qmCarousel  .carousel-inner .carousel-item {
    min-width: 100%;
    margin-right: 0.75rem;
  }
  #qmCarousel  .carousel-inner .carousel-item img {
    height: 50vh;
    object-fit: cover;
  }
  

}

